h1 {
    color: black;
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    font-size: 400% !important;
}

body {
    background :url('./../Image/mainTheme.jpeg');
    background-size: 100%;
}

p.underTitle{
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    color: red;
    font-size: 200%;
}

.my-navbar{
    background-color: rgba(0,0,0,0.8) !important;
}

.my-navbar>a,.my-navbar>div>a,.my-navbar>div>div>span,.my-navbar>div>div>i{
    color: yellow !important;
}

.my-navbar>a:hover,.my-navbar>div>a:hover{
    color: black !important;
    background-color: yellow !important;
}

.content-site{
    margin-top: 80px;
}

.productImage{
    width: 120px;
}

.yellowText{
    color: yellow;
}

.centerText{
    text-align: center;
}

.transparentBackground{
    background-color: transparent !important;
}

.content-login{
    padding-right: 300px !important;
    padding-left: 300px !important;
}

@media screen and (max-width:992px) {
    .content-login{
        padding-right: 0px;
        padding-left: 0px;
    }
}