<div class="content-site">
    <div class="ui container">
        <form method="post">
            <h1 class="ui header" >Basket</h1>
            <p class="underTitle">Here, you will find products added to the basket</p>
            {% if Error == 8 %}
            <div class="ui negative message">
                <i class="close icon"></i>
                <div class="header">
                    You must login to order !
                </div>
            </div>
            {% endif %}
            {% if product != null %}
                <table class="ui celled large striped unstackable table">
                    <thead>
                    <tr><th>Image</th>
                        <th>Name</th>
                        <th>Price(€)</th>
                        <th>Quantity</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in product %}
                    <tr>
                        <td><img class="productImage" src="./..{{ item.Image }}"/></td>
                        <td>{{ item.Nom }}</td>
                        <td>{{ item.Prix }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>

                                <button class="ui labeled icon submit button" name="deleteButton" value="{{item.Id}}">
                                    <i class="trash icon"></i>
                                    Delete one
                                </button>
                                <button class="ui labeled icon submit button" name="deleteAllButton" value="{{item.Id}}">
                                    <i class="trash outline icon"></i>
                                    Delete all
                                </button>

                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <br/>
                <div class="ui two fields segment">
                    <h3 class="rightElements">Total: {{ total }}€&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <button class="ui labeled icon button submit" name="buy">
                        <i class="add to cart icon"></i>
                        Buy now
                    </button></h3>
                </div>
            {% else %}
                <p class="basket" >Your basket is empty !</p>
            {% endif %}
        </form>
    </div>
</div>